.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.active {
  background-color: #555;
}
