.navbar {
  background-color: #333;
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
