.column-centered {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row-centered {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.transparent-nav {
  background-color: transparent !important;
  transition: background-color 0.5s ease;
}

.nav-bg {
  background-color: #333 !important;
  transition: background-color 0.5s ease;
}

.cursor-pointer {
  cursor: pointer !important;
}

.vertileMiddle {
  vertical-align: middle !important;
}
